script(type="text/x-template")#feedback-form-template
    form.form__card(@submit.prevent="sendMessage")
        .form__row
            label.feedback-form__col(
                :class="{'error' : validation.firstError('user.name')}"
            )
                label.form__field Введите ваше имя
                .form__field__container
                    +icon('user', 'form__field__icon')                        
                    .form__field__text
                    input.form__field__input(
                        type="text" 
                        name="name" 
                        placeholder="Ерсаханов Куаныш"
                        v-model="user.name"
                    )
                    .form__field-error
                        error-tooltip(
                            :errorText="validation.firstError('user.name')"
                        )
        .form__row                
            label.feedback-form__col(
                :class="{'error' : validation.firstError('user.email')}"
            )
                label.form__field Введите ваш email
                .form__field__container
                    +icon('envelope', 'form__field__icon') 
                    .form__field__text
                    input.form__field__input(
                        type="text"
                        name="email"  
                        placeholder="kokanewj@gmail.com"
                        v-model="user.email"
                    )
                    .form__field-error
                        error-tooltip(
                            :errorText="validation.firstError('user.email')"
                        )
            label.feedback-form__col(
                :class="{'error' : validation.firstError('user.email')}"
            )            
        .form__row
            label.feedback-form__col(
                :class="{'error' : validation.firstError('user.message')}"
            )
                label.form__field Сообщение к письму
                .form__field__container
                    +icon('message', 'form__field__icon') 
                    .form__field__text
                    textarea(
                        name="message"
                        v-model="user.message" 
                        placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса"
                    ).form__field__input
                    .form__field-error
                        error-tooltip(
                            :errorText="validation.firstError('user.message')"
                        )
            .form__row
                input(type="submit" value="ОТПРАВИТЬ").form-button


